In [1]:
import pymongo
import pandas as pd
from sklearn import preprocessing
pd.set_option('display.max_columns', None)

In [9]:
client = pymongo.MongoClient("mongodb+srv://vjrnithjshkumar:X658B3mXt2JIFNnR@cluster0.oobi9mi.mongodb.net/")
db = client['sample_airbnb']
col = db['listingsAndReviews']

# Primary Table

In [10]:
data = []
for i in col.find( {}, {'_id':1,'listing_url':1,'name':1,'property_type':1,'room_type':1,'bed_type':1,
                        'minimum_nights':1,'maximum_nights':1,'cancellation_policy':1,'accommodates':1,
                        'bedrooms':1,'beds':1,'number_of_reviews':1,'bathrooms':1,'price':1,
                        'cleaning_fee':1,'extra_people':1,'guests_included':1,'images.picture_url':1,
                        'review_scores.review_scores_rating':1} ):
    data.append(i)
    
df_1 = pd.DataFrame(data)
df_1['images'] = df_1['images'].apply(lambda x: x['picture_url'])
df_1['review_scores'] = df_1['review_scores'].apply(lambda x: x.get('review_scores_rating',0))
df_1.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10069642,https://www.airbnb.com/rooms/10069642,Ótimo Apto proximo Parque Olimpico,Apartment,Entire home/apt,Real Bed,15,20,strict_14_with_grace_period,5,2.0,2.0,0,2.0,858.00,112.00,75.00,1,https://a0.muscache.com/im/pictures/5b1f4beb-6...,0
1,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.00,NaN,0.00,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100
2,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,House,Private room,Real Bed,2,1125,strict_14_with_grace_period,8,1.0,8.0,1,4.0,250.00,0.00,40.00,4,https://a0.muscache.com/im/pictures/b2119f25-4...,80
3,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,1.0,115.00,100.00,0.00,1,https://a0.muscache.com/im/pictures/15037101/5...,84
4,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,Apartment,Entire home/apt,Real Bed,1,1125,flexible,4,1.0,2.0,0,1.0,50.00,NaN,31.00,1,https://a0.muscache.com/im/pictures/9fa69ad8-c...,0

In [11]:
df_1.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
cleaning_fee           1531
extra_people              0
guests_included           0
images                    0
review_scores             0
dtype: int64

In [12]:
df_1['bedrooms'].fillna(0, inplace=True)
df_1['beds'].fillna(0, inplace=True)
df_1['bathrooms'].fillna(0, inplace=True)
df_1['cleaning_fee'].fillna('Not Specified', inplace=True)
df_1.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
images                 0
review_scores          0
dtype: int64

In [13]:
df_1.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
cleaning_fee            object
extra_people            object
guests_included         object
images                  object
review_scores            int64
dtype: object

In [14]:
df_1['minimum_nights'] = df_1['minimum_nights'].astype(int)
df_1['maximum_nights'] = df_1['maximum_nights'].astype(int)
df_1['bedrooms'] = df_1['bedrooms'].astype(int)
df_1['beds'] = df_1['beds'].astype(int)
df_1['bathrooms'] = df_1['bathrooms'].astype(str).astype(float)
df_1['price'] = df_1['price'].astype(str).astype(float).astype(int)
df_1['cleaning_fee'] = df_1['cleaning_fee'].apply(lambda x: int(float(str(x))) if x != 'Not Specified' else 'Not Specified')
df_1['extra_people'] = df_1['extra_people'].astype(str).astype(float).astype(int)
df_1['guests_included'] = df_1['guests_included'].astype(str).astype(int)

In [15]:
df_1.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int32
maximum_nights           int32
cancellation_policy     object
accommodates             int64
bedrooms                 int32
beds                     int32
number_of_reviews        int64
bathrooms              float64
price                    int32
cleaning_fee            object
extra_people             int32
guests_included          int32
images                  object
review_scores            int64
dtype: object

In [16]:
df_1.describe().T

,count,mean,std,min,25%,50%,75%,max
minimum_nights,5555.0,5.564356e+00,2.261386e+01,1.0,1.0,2.0,3.0,1.250000e+03
maximum_nights,5555.0,1.382776e+06,5.256920e+07,1.0,59.0,1125.0,1125.0,2.147484e+09
accommodates,5555.0,3.505851e+00,2.297019e+00,1.0,2.0,3.0,4.0,1.600000e+01
bedrooms,5555.0,1.410441e+00,1.042334e+00,0.0,1.0,1.0,2.0,2.000000e+01
beds,5555.0,2.066607e+00,1.620858e+00,0.0,1.0,2.0,3.0,2.500000e+01
number_of_reviews,5555.0,2.760648e+01,4.979838e+01,0.0,1.0,5.0,32.0,5.330000e+02
bathrooms,5555.0,1.288839e+00,7.037643e-01,0.0,1.0,1.0,1.0,1.600000e+01
price,5555.0,2.787662e+02,8.422155e+02,9.0,70.0,129.0,280.0,4.884200e+04
extra_people,5555.0,2.279190e+01,6.933151e+01,0.0,0.0,0.0,20.0,2.346000e+03
guests_included,5555.0,1.747435e+00,1.487352e+00,1.0,1.0,1.0,2.0,1.600000e+01
review_scores,5555.0,6.839568e+01,4.182983e+01,0.0,0.0,92.0,98.0,1.000000e+02

In [17]:
df_1.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10069642,https://www.airbnb.com/rooms/10069642,Ótimo Apto proximo Parque Olimpico,Apartment,Entire home/apt,Real Bed,15,20,strict_14_with_grace_period,5,2,2,0,2.0,858,112,75,1,https://a0.muscache.com/im/pictures/5b1f4beb-6...,0
1,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1,2,3,1.0,699,Not Specified,0,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100

# Host

In [18]:
host = []
for i in col.find( {}, {'_id':1, 'host':1}):
    host.append(i)

df_host = pd.DataFrame(host)
host_keys = list(df_host.iloc[0,1].keys())
host_keys.remove('host_about')

for i in host_keys:
    if i == 'host_response_time':
        df_host['host_response_time'] = df_host['host'].apply(lambda x: x['host_response_time'] if 'host_response_time' in x else 'Not Specified')
    else:
        df_host[i] = df_host['host'].apply(lambda x: x[i] if i in x and x[i]!='' else 'Not Specified')

df_host.drop(columns=['host'], inplace=True)
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_thumbnail_url,host_picture_url,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10069642,51670240,https://www.airbnb.com/users/show/51670240,Jonathan,"Resende, Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/9a6839d9-9...,https://a0.muscache.com/im/pictures/9a6839d9-9...,Not Specified,False,True,False,1,1,"[email, phone, jumio, government_id]"
1,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
2,10051164,51326285,https://www.airbnb.com/users/show/51326285,Beatriz,"Rio de Janeiro, State of Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/eb09c9cb-b...,https://a0.muscache.com/im/pictures/eb09c9cb-b...,Catete,False,True,True,5,5,"[email, phone, facebook, reviews, jumio, gover..."
3,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,False,True,False,18,18,"[email, phone, reviews, kba]"
4,10057447,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,False,True,False,1,1,"[email, phone, jumio, offline_government_id, s..."

In [19]:
df_host['host_is_superhost'] = df_host['host_is_superhost'].map({False:'No',True:'Yes'})
df_host['host_has_profile_pic'] = df_host['host_has_profile_pic'].map({False:'No',True:'Yes'})
df_host['host_identity_verified'] = df_host['host_identity_verified'].map({False:'No',True:'Yes'})
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_thumbnail_url,host_picture_url,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10069642,51670240,https://www.airbnb.com/users/show/51670240,Jonathan,"Resende, Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/9a6839d9-9...,https://a0.muscache.com/im/pictures/9a6839d9-9...,Not Specified,No,Yes,No,1,1,"[email, phone, jumio, government_id]"
1,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,No,Yes,No,1,1,"[email, phone, reviews, jumio, government_id]"
2,10051164,51326285,https://www.airbnb.com/users/show/51326285,Beatriz,"Rio de Janeiro, State of Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/eb09c9cb-b...,https://a0.muscache.com/im/pictures/eb09c9cb-b...,Catete,No,Yes,Yes,5,5,"[email, phone, facebook, reviews, jumio, gover..."
3,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,No,Yes,No,18,18,"[email, phone, reviews, kba]"
4,10057447,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,No,Yes,No,1,1,"[email, phone, jumio, offline_government_id, s..."

In [20]:
df_host.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [21]:
df_host.dtypes

_id                          object
host_id                      object
host_url                     object
host_name                    object
host_location                object
host_thumbnail_url           object
host_picture_url             object
host_neighbourhood           object
host_is_superhost            object
host_has_profile_pic         object
host_identity_verified       object
host_listings_count           int64
host_total_listings_count     int64
host_verifications           object
dtype: object

# Address

In [22]:
address = []
for i in col.find( {}, {'_id':1, 'address':1}):
    address.append(i)

df_address = pd.DataFrame(address)
address_keys = list(df_address.iloc[0,1].keys())

for i in address_keys:
    if i == 'location':
        df_address['location_type'] = df_address['address'].apply(lambda x: x['location']['type'])
        df_address['longitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][0])
        df_address['latitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][1])
        df_address['is_location_exact'] = df_address['address'].apply(lambda x: x['location']['is_location_exact'])
    else:
        df_address[i] = df_address['address'].apply(lambda x: x[i] if x[i]!='' else 'Not Specified')

df_address.drop(columns=['address'], inplace=True)
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10069642,"Rio de Janeiro, Rio de Janeiro, Brazil",Recreio dos Bandeirantes,Recreio dos Bandeirantes,Rio De Janeiro,Brazil,BR,Point,-43.431112,-23.000358,False
1,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.150270,22.281580,True
2,10051164,"Rio de Janeiro, Rio de Janeiro, Brazil",Catete,Catete,Rio De Janeiro,Brazil,BR,Point,-43.180157,-22.926382,True
3,1001265,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.839190,21.286340,True
4,10057447,"Montréal, Québec, Canada",Mile End,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.591110,45.518890,True

In [23]:
df_address['is_location_exact'] = df_address['is_location_exact'].map({False:'No',True:'Yes'})
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10069642,"Rio de Janeiro, Rio de Janeiro, Brazil",Recreio dos Bandeirantes,Recreio dos Bandeirantes,Rio De Janeiro,Brazil,BR,Point,-43.431112,-23.000358,No
1,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.150270,22.281580,Yes
2,10051164,"Rio de Janeiro, Rio de Janeiro, Brazil",Catete,Catete,Rio De Janeiro,Brazil,BR,Point,-43.180157,-22.926382,Yes
3,1001265,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.839190,21.286340,Yes
4,10057447,"Montréal, Québec, Canada",Mile End,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.591110,45.518890,Yes

In [24]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [25]:
df_address.dtypes

_id                   object
street                object
suburb                object
government_area       object
market                object
country               object
country_code          object
location_type         object
longitude            float64
latitude             float64
is_location_exact     object
dtype: object

# Availability

In [27]:
availability = []
for i in col.find( {}, {'_id':1, 'availability':1}):
    availability.append(i)

df_availability = pd.DataFrame(availability)
availability_keys = list(df_availability.iloc[0,1].keys())

for i in availability_keys:
    df_availability['availability_30'] = df_availability['availability'].apply(lambda x: x['availability_30'])
    df_availability['availability_60'] = df_availability['availability'].apply(lambda x: x['availability_60'])
    df_availability['availability_90'] = df_availability['availability'].apply(lambda x: x['availability_90'])
    df_availability['availability_365'] = df_availability['availability'].apply(lambda x: x['availability_365'])

df_availability.drop(columns=['availability'], inplace=True)
df_availability.head()

,_id,availability_30,availability_60,availability_90,availability_365
0,10069642,0,0,0,0
1,10059872,0,0,0,0
2,10051164,10,10,21,296
3,1001265,16,46,76,343
4,10057447,0,0,0,0

In [28]:
df_availability.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [29]:
df_availability.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

# Amenities

In [30]:
def amenities_sort(x):
    a = x
    a.sort(reverse=False)
    return a

amenities = []
for i in col.find( {}, {'_id':1, 'amenities':1}):
    amenities.append(i)

df_amenities = pd.DataFrame(amenities)
df_amenities['amenities'] = df_amenities['amenities'].apply(lambda x: amenities_sort(x))
df_amenities.head()

        _id                                          amenities
0  10069642  [Air conditioning, Buzzer/wireless intercom, C...
1  10059872  [24-hour check-in, Air conditioning, Doorman, ...
2  10051164  [Air conditioning, Cable TV, Essentials, Famil...
3   1001265  [Air conditioning, BBQ grill, Bed linens, Cabl...
4  10057447  [24-hour check-in, Dryer, Essentials, Family/k...

In [31]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [32]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

In [33]:
df = pd.merge(df_1, df_host, on='_id')
df = pd.merge(df, df_address, on='_id')
df = pd.merge(df, df_availability, on='_id')
df = pd.merge(df, df_amenities, on='_id')
df.head(3)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores,host_id,host_url,host_name,host_location,host_thumbnail_url,host_picture_url,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10069642,https://www.airbnb.com/rooms/10069642,Ótimo Apto proximo Parque Olimpico,Apartment,Entire home/apt,Real Bed,15,20,strict_14_with_grace_period,5,2,2,0,2.0,858,112,75,1,https://a0.muscache.com/im/pictures/5b1f4beb-6...,0,51670240,https://www.airbnb.com/users/show/51670240,Jonathan,"Resende, Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/9a6839d9-9...,https://a0.muscache.com/im/pictures/9a6839d9-9...,Not Specified,No,Yes,No,1,1,"[email, phone, jumio, government_id]","Rio de Janeiro, Rio de Janeiro, Brazil",Recreio dos Bandeirantes,Recreio dos Bandeirantes,Rio De Janeiro,Brazil,BR,Point,-43.431112,-23.000358,No,0,0,0,0,"[Air conditioning, Buzzer/wireless intercom, C..."
1,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1,2,3,1.0,699,Not Specified,0,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,No,Yes,No,1,1,"[email, phone, reviews, jumio, government_id]","Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.150270,22.281580,Yes,0,0,0,0,"[24-hour check-in, Air conditioning, Doorman, ..."
2,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,House,Private room,Real Bed,2,1125,strict_14_with_grace_period,8,1,8,1,4.0,250,0,40,4,https://a0.muscache.com/im/pictures/b2119f25-4...,80,51326285,https://www.airbnb.com/users/show/51326285,Beatriz,"Rio de Janeiro, State of Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/eb09c9cb-b...,https://a0.muscache.com/im/pictures/eb09c9cb-b...,Catete,No,Yes,Yes,5,5,"[email, phone, facebook, reviews, jumio, gover...","Rio de Janeiro, Rio de Janeiro, Brazil",Catete,Catete,Rio De Janeiro,Brazil,BR,Point,-43.180157,-22.926382,Yes,10,10,21,296,"[Air conditioning, Cable TV, Essentials, Famil..."

In [34]:
# download as csv
df.to_csv('airbnb.csv', index=False)

In [35]:
df.dtypes

_id                           object
listing_url                   object
name                          object
property_type                 object
room_type                     object
bed_type                      object
minimum_nights                 int32
maximum_nights                 int32
cancellation_policy           object
accommodates                   int64
bedrooms                       int32
beds                           int32
number_of_reviews              int64
bathrooms                    float64
price                          int32
cleaning_fee                  object
extra_people                   int32
guests_included                int32
images                        object
review_scores                  int64
host_id                       object
host_url                      object
host_name                     object
host_location                 object
host_thumbnail_url            object
host_picture_url              object
host_neighbourhood            object
host_is_superhost             object
host_has_profile_pic          object
host_identity_verified        object
host_listings_count            int64
host_total_listings_count      int64
host_verifications            object
street                        object
suburb                        object
government_area               object
market                        object
country                       object
country_code                  object
location_type                 object
longitude                    float64
latitude                     float64
is_location_exact             object
availability_30                int64
availability_60                int64
availability_90                int64
availability_365               int64
amenities                     object
dtype: object